/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transitionw-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Start: Jana's Additions */

/* navbar logo left margin (JEB) */
.navbar .brand {
  margin-left: 10px;
}

/* prevent navbar from hiding top of page */
body {
  padding-top: 60px;
}

.row-fluid {
  margin: 10px 0px;
}

#pos_ex h3 {
  color: #468847;
}

#neg_ex h3 {
  color: #b94a48;
}

.experiences h3 {
  text-align: center;
  margin-top: 0;
}

.experience {
  padding: 2px 2px 2px 8px;
}

.experience-main {
  font-size: 14px;
}

.experience-tags {
  background-color: #F5F5F5;
}

.experience .year {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  color: #000000;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.experience .ageStr {
  position: absolute;
  bottom: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  color: #000000;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* necessary to see tooltips */
.isotope {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

/* End: Jana's Additions */

/* Echo out a label for the example */
/*.experience:after {
  content: "Test";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}*/